.article-data {
  font-size: 25px;
  p {
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 25px;
    margin: 0;
    padding: 0;
  }
  div {
    width: 600px;
    margin: 40px auto;
    padding: 0;
  }
  div.data {
    display: flex;
    h2 {
      margin-right: 20px;
    }
  }
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  div.description h2 {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

}