<div class="container">
  <h1 class="text-center mb-5 mt-2">Articles</h1>
  <% @articles.each do |article| %>
    <%= link_to article_path(article), class: "text-reset text-decoration-none" do %>
      <%= render  "articles/card_article", article: article %>
    <% end %>
  <% end %>
</div>