<header>
  <div class="header">
    <%= link_to  "Articles", articles_path %>
    <%= link_to "Articles client", client_articles_path %>
    <%= link_to  "Fabricants", makers_path %>
    <%= link_to  "Clients", clients_path %>
  </div>
</header>