<div class="container">
  <h1 class="text-center">Fabricants</h1>
  <div class="makers-list">
    <% @makers.each do |maker| %>
      <%= link_to  maker.name, maker_path(maker) %>
    <% end %>
  </div>
</div>

